extends ./common/mixins.jade

block title
    title FindFilms Details

block content
    +button('/', 'Logout')
    +button('/search', 'Back to Search')
    div
        +movieCard(movie, showing, theater)
