extends ./common/mixins.jade

block title
    title FindFilms Details

block content
    +navbar('Details')
        +button('/search', 'Back to Search')
    .container.mb-4.mt-4
        +movieCard(movie, theaterShowing)
