extends ./common/mixins.jade

block title
    title FindFilms Login

block content
    +navbar('Login')
    .container.mb-4.mt-4
        p Sign in with your account. Don’t have one? 
            a(href='/register') Register Now.
        form(action='/login', method='post')
            if(message)
                p= message
            .form-group
                label Username
                input.form-control(type='text', id='user', name='username', placeholder='enter a username')
            .form-group
                label Password
                input.form-control(type='password', id='password', name='password', placeholder='enter a password')
            button.btn.btn-primary(type='submit') Submit
            a.ml-2(role='button', href='/') Cancel


