extends ./common/mixins.jade

block title
    title FindFilms Register

block content
    +button('/login', 'Back to Login')
    form.form-mystyle(action='/register', method='post')
        h2 New Account
        if(message)
            p= message
        label Username
        input(type='text', id='user', name='username', value=username, required)
        label Email
        input(type='email', id='email', name='email', placeholder='name@email.com', value=email, required)
        label Password
        input(type='password', id='password', name='password', required)
        label Confirm Password
        input(type='password', id='confirmPassword', name='confirmPassword', required)
        button(type='submit') Sign Up
