extends ./common/mixins.jade

block title
    title FindFilms Register

block content
    +navbar('Register a New Account')
        +button('/login', 'Back to Login')
    .container.mb-4.mt-4
        form(action='/register', method='post')
            if(message)
                p= message
            .form-group
                label Username
                input.form-control(type='text', id='user', name='username', value=username, required)
            .form-group
                label Email
                input.form-control(type='email', id='email', name='email', placeholder='name@email.com', value=email, required)
            .form-group
                label Password
                input.form-control(type='password', id='password', name='password', required)
            .form-group
                label Confirm Password
                input.form-control(type='password', id='confirmPassword', name='confirmPassword', required)
            button.btn.btn-primary(type='submit') Sign Up
