extends ./common/mixins.jade

block title
    title FindFilms Results

block content
    +button('/search', 'Back to Search')
    if(movieData)
        center
            table.table-mystyle 
                for movie in movieData
                    tr
                        +addResult(movie)
    else
        h1 No movies in our record match your criteria. Please search again.


