extends ./common/mixins.jade

block title
    title FindFilms Results

block content
    +navbar('Results')
        +button('/search', 'Back to Search')
    .container.mb-4.mt-4
        if(movieData)
            for movie in movieData
                +addResult(movie)
        else
            h2.text-center No movies in our record match your criteria. Please search again.


