extends ./common/mixins.jade

block title
    title FindFilms Results

block content
    +navbar('Results')
        +button('/search', 'Back to Search')
    .container.mb-4.mt-4
        if(allData)
            for data in allData
                +addResult(data)
        else
            h2.text-center No showings in our record match your criteria. Please search again.


