extends ./common/mixins.jade

genreArray = ['', 'Action', 'Adventure', 'Comedy', 'Drama', 'Fantasy', 'Historical', 'Horror', 'Mystery', 'Political', 'Romance', 'Science Fiction', 'Thriller', 'Western']
ratingArray = ['', 'G', 'PG', 'PG-13', 'R', 'NC-17']

block title
    title FindFilms Search
    
block content
    h1 Search Films in Nearby Theaters
    .container
        form.form-mystyle(action='/search', method='post')
            +generateDropDownList('Genre', 'genre', genreArray)
            +generateDropDownList('Movie Rating', 'rating', ratingArray)
            +generateDropDownList('Minimum IMDb Score', 'imdb', imdbScores)
            +generateDropDownList('Minimum Rotten Tomatoes Score', 'rottenTomatoes', rottenTomatoes)
            +generateDropDownList('Max Movie Length (min)', 'length', movieLengths)
            .row
                .col-25
                    label Cast
                .col-75 
                    input(type='text', id= 'cast', name= 'cast')
            .row 
                .col-25
                    label Executive Director
                .col-75
                    input(type='text', id= 'director', name= 'director')
            .row
                button(type='submit', href='/results') Submit
                button.move-left(type='reset') Reset
