extends ./common/mixins.jade

block title
    title FindFilms Search
    
block content
    +navbar('Search Films in Nearby Theaters')
    .container.mb-4.mt-4
        form(action='/search', method='post')
            .form-row.mb-4
                .col-6
                    label Date
                    input.form-control(type='date', id='date', name='date', value= date, required)
                +generateDropDownList('Max Movie Length (min)', 'length', movieLengths)
            .form-row.mb-4
                +generateDropDownList('Genre', 'genre', genreArray)
                +generateDropDownList('Movie Rating', 'rating', ratingArray)
            .form-row.mb-4
                +generateDropDownList('Minimum IMDb', 'imdb', imdbScores)
                +generateDropDownList('Minimum Rotten Tomatoes', 'rottenTomatoes', rottenTomatoes)
            .form-row.mb-4
                .col-6
                    label Cast
                    input.form-control(type='text', id= 'cast', name= 'cast')
                .col-6
                    label Executive Director
                    input.form-control(type='text', id= 'director', name= 'director')
            button.btn.btn-primary(type='submit', href='/results') Submit
            button.btn.btn-primary(type='reset') Reset
