extends ./common/mixins.jade

genreArray = ['', 'Action', 'Adventure', 'Comedy', 'Drama', 'Fantasy', 'Historical', 'Horror', 'Mystery', 'Political', 'Romance', 'Science Fiction', 'Thriller', 'Western']
ratingArray = ['', 'G', 'PG', 'PG-13', 'R', 'NC-17']

block title
    title FindFilms Search
    
block content
    form(action='/search', method='post')
        +button('/', 'Logout')
        +generateDropDownList('Genre', 'genre', genreArray)
        +generateDropDownList('Movie Rating', 'rating', ratingArray)
        +generateDropDownList('Minimum IMDb Score', 'imdb', imdbScores)
        +generateDropDownList('Minimum Rotten Tomatoes Score', 'rottenTomatoes', rottenTomatoes)
        +generateDropDownList('Max Movie Length (min)', 'length', movieLengths)
        center
            label Cast 
            input(type='text', id= 'cast', name= 'cast') 
        center
            label Executive Director
            input(type='text', id= 'director', name= 'director')
        &nbsp;
        center
            button(type='submit', href='/results') Submit
