extends ./common/mixins.jade

block title
    title FindFilms Register

block content
    +button('/login', 'Back to Login')
    div 
        form(action='/register', method='post')
            h2 New Account
            if(message)
                p= message
            div
                label Username
                input(type='text', id='user', name='username', value=username, required)
            div
                label Email
                input(type='email', id='email', name='email', placeholder='name@email.com', value=email, required)
            div
                label Password
                input(type='password', id='password', name='password', required)
            div
                label Confirm Password
                input(type='password', id='confirmPassword', name='confirmPassword', required)
            button(type='submit') Sign Up
