!!!5
html(lang='en')
    head
        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css", rel='stylesheet', type='text/css', integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS", crossorigin="anonymous")
        link(href=url_for('static', filename='style.css'), rel='stylesheet', type='text/css')
        block title
    body
        block content
